@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap');

//font-family: 'Roboto Condensed', sans-serif;
$font-family-sans-serif: 'Arial', 'Helvetica', sans-serif;
$font-family-serif: 'Georgia', 'Times New Roman', 'Times', serif;
$font-family-monospace: 'Menlo', 'Monaco', 'Consolas', 'Courier New', monospace;

$fontFamilyOne: 'Roboto Condensed', sans-serif; // titles
$fontFamilyTwo: 'Roboto Condensed', sans-serif; // body
